- var GoogleFonts = 'Lato:300,400,700,300italic,400italic'

- var jQuery = false

- var PageTitle = 'Kanisorn Janrungsri'

- var MetaDesc = 'some meta desriptions goes in here'

//- var BodyClasses = ['bodyclass_one', 'bodyclass_two']
