.section-process.ft
    section
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12
              #section-process-title.section-process-title
                h2
                  span Our Process:
          |             
          .row
            ul
              li.col-lg-3.col-md-3.col-sm-3
                span
                  span.proc-num 1.
                |                         
                .proc-text-container
                  h2
                    | Request a quotation today
                  |                             
                  p
                    | You can request a quote by calling us or filling in our contact form.
              |                     
              li.col-lg-3.col-md-3.col-sm-3
                span.proc-num 2.
                |                         
                .proc-text-container
                  h2
                    | Agree on a good time for us to visit
                  |                             
                  p
                    | Before we can provide an accurate quote we will need to visit your premises so we can decide on the most efficient and cost effective solution. When it comes to soundproofing, one size does not fit all, every job is unique.
              |                     
              li.col-lg-3.col-md-3.col-sm-3
                span.proc-num 3.
                |                         
                .proc-text-container
                  h2
                    | Agree on a solution
                  |                             
                  p
                    | We will be able to provide you with a quote for a cost effective solution and in many cases there will be several options ranging from most effective to most cost effective.
              |                     
              li.col-lg-3.col-md-3.col-sm-3
                span.proc-num 4.
                |                         
                .proc-text-container
                  h2
                    | Installation
                  |                             
                  p
                    | We will agree a date with you to install your new soundproofing. Our team are highly qualified and clean up after themselves. In no time at all you will be benefiting from one of our bespoke acoustic solutions.
    .work-done-for.ft
      section
        .container
          .row
            .col-lg-12.col-md-12
              #section-workfor-title.section-workfor-title
                h2
                  | We have done work for:
          |             
          .row
            ul
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/arrivatrain-logo.png')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/beliveinchildren-logo.png')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/cardiff-logo.png')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/custardfactory-logo.png')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/lovehoney-logo.png')
    |                   
    .section-testimonials.ft
      section
        .container
          h2
            | What our customers say:
          |             
          .row
            .col-lg-12.col-md-12.col-sm-12
              #section-testimonials.section-testimonials-section-first
                blockquote
                  | &ldquo;Lorem ipsum dolor sit amet, cons ectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci tation ullamco laboris nisi ut aliquip ex ea commo do conseq adat.&rdquo;
          |             
          .section-testimonials-section-second
            .row
              .col-lg-3.col-md-3.col-sm-3
                img(src='img/head-quote.png', alt='')
              |                     
              .col-lg-9.col-md-9.col-sm-9
                h3
                  | John Doe
                |                         
                p
                  | Managing Director 
                  span Arriva Trains Wales
              // end col-lg-9
            |                 
            |                         
            .nav-arrow-holder.fr
              a(href='')
                i.fa.fa-chevron-left.arrow-box
              |                             
              a(href='')
                i.fa.fa-chevron-right.arrow-box
            // end nav-arrow-holder
          // end section-testimonials-section-second
        // end container
    // Services: What service we provides Section
    .section-services.ft
      section
        .container
          .row
            .col-lg-12.col-md-12
              #section-services
                h2
                  | Services:
          |             
          .row
            .col-lg-3
              h3
                | Domestic / residential
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
            |                 
            .col-lg-3
              h3
                | Soundproofing walls
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
            |                 
            .col-lg-3
              h3
                | Soundproofing floors
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
            |                 
            .col-lg-3
              h3
                | Soundproofing Ceilings
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
          |             
          .row.ft
            .col-lg-4
              h3
                | Clubs &amp; Pubs
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
            |                 
            .col-lg-4
              h3
                | Cinemas &amp; Recording Studios
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
            |                 
            .col-lg-4
              h3
                | Acoustic fence &ndash; motorways / roads / sports grounds / factories / industrial estates
              |                     
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ea vero quisquam tenetur porro, rerum totam saepe, quaerat, deleniti repellat expedita praesentium dolor. Laborum non, et totam exercitationem porro voluptatibus!
              a(href='#') Click here to find out more.
    |   
    .section-reviews.ft
      section
        .container
          .row
            ul
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/checktrade-logo.png', alt='')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/yell-logo.png', alt='')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/ratedpeople-logo.png', alt='')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/fmb2.png', alt='')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/instituteifaciustic.png', alt='')
              |                     
              li.col-lg-2.col-md-2.col-sm-2
                img(src='img/logos/trustmark-logo.png', alt='')
