section
    #homepage-slider.cycle-slideshow(data-cycle-fx='scrollHorz', data-cycle-timeout='0', data-cycle-slides='div.slide')
        .cycle-prev
          span
            a(href='#')
        span
          // end cycle-prev
        |         
        .cycle-next
          span
            a(href='#')
        span
          // end cycle-next
        |         
        #slide-1.slide
          .container
            header.fancy-box.fancy-red
              .text-holder
                h1
                  span
                    | Transform Sound UK is a London based soundproofing specialist that provides soundproofing to homes and commercial buildings.
              // end text-holder
            |                 
            .slide-contents
              p
                span
                  | Sound proofing can provide a solution to noisy neighbours, noise pollution from busy roads or airports, setting up a home cinema or loud workshop/studio and keeping compliant with new building regulations.
              |                     
              p
                span
                  a.btn-banner(href='#') See details
            // end slide-contents
          // end container
        // end slide
        #slide-2.slide
          .container
            header.fancy-box.fancy-yellow
              span
                // <h1>Transform Sound UK is a London based soundproofing specialist that provides soundproofing to homes and commercial buildings.</h1>
            |                 
            .slide-contents
              p
                span This is a small description. Keep it simple and to the point.
              |                     
              p
                span
                  a.btn(href='#') See details
            // end slide-contents
          // end container
        // end slide
        #slide-3.slide
          .container
            header.fancy-box.fancy-yellow
              h1
                span Project name
            |                 
            .slide-contents
              p
                span This is a small description. Keep it simple and to the point.
              |                     
              p
                span
                  a.btn(href='#') See details
            // end slide-contents
          // end container
        // end slide
      // end cycle-slideshow
    // Process Section
